:root {
    --color-angle: -45deg;
    --callout-color: linear-gradient(55deg, #f3e9ae,#f3f3d1,#f3e9ae);
    --shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.39);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.fill-container {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}

.paint-text {
    font-family: 'Luckiest Guy';
    font-weight: bold;
    background: linear-gradient(var(--color-angle),
        red, red 14.28%,
        orange 14.28%, orange 28.57%,
        yellow 28.57%, yellow 42.86%,
        #00e20b 42.86%, #00e20b 57.14%,
        cyan 57.14%, cyan 71.42%,
        #0037ff 71.42%, #0037ff 85.71%,
        violet 85.71%
    );
    background-size: 9% 43%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.callout {
    padding: 0.8vh 1rem;
    background: var(--callout-color);
    box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
}
.callout .title {
    font-size: 4vw;
    letter-spacing: -0.2vw;
    -webkit-text-stroke: 0.18vw black;
}
@media (min-width: 1200px) {
    .callout .title {
        font-size: 2.5vw;
        -webkit-text-stroke-width: 0.12vw;
        letter-spacing: -0.1vw;
    }
}
.callout .title span {
    display: inline-block;
    background-size: 170% 170%;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background: rgba(0, 0, 0, 0.25);
    transition: 0.4s opacity;
    pointer-events: none;
}
.overlay:target {
    opacity: 1;
    pointer-events: all;
}
.overlay:target ~ .callout {
    display: none;
}

.overlay-close {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.overlay-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 21% 1fr;
    grid-template-areas:
        "intro"
        "panel"
        ;

    width: 100%;
    height: 92%;
    z-index: 10;

    font-family: 'Luckiest Guy';
    color: white;
    --font-size: calc(1.2vw + 0.9vh);
    font-size: var(--font-size);
    -webkit-text-stroke: calc(var(--font-size)*0.05) black;
}
@media (min-width: 600px) {
    .overlay-content {
        width: 50vh;
    }
}

.draw-intro {
    grid-area: intro;
    margin: 0.7rem 1.2rem;
    padding: 0.3rem;
    background: var(--callout-color);
    border-radius: 0.5rem;
    white-space: pre-wrap;
}
.draw-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: panel;
    padding: 0.6rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    white-space: pre-wrap;
    transition: 0.2s background-color;
}
@media (min-width: 600px) {
}

.draw-full-name {
    padding: 0.5rem 1rem 0.3rem;
    margin-bottom: 0.6rem;
    border-radius: 10rem;
    text-align: center;
    font-family: 'Luckiest Guy';
    font-size: 1.2rem;
    letter-spacing: 1px;
    -webkit-text-stroke: 0;
}

.colors {
    display: grid;
    margin-bottom: 0.6rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 12%;
    gap: 2px;
}
.colors div {
    border: 2px solid black;
    cursor: pointer;
}
.colors div.selected {
    border-style: dashed;
}

.controls {
    display: flex;
    align-self: stretch;
    margin-bottom: 0.6rem;
    height: 5%;
}
.border-button {
    height: 100%;
    width: 10%;
    box-sizing: border-box;
    border: 1vh solid white;
    border-radius: 8px;
    box-shadow: var(--shadow);
    background-color: gray;
    margin: 0 0.2rem;
    cursor: pointer;
    transition: opacity 0.3s;
}
.border-button.selected {
    background-color: transparent;
    cursor: default;
}
.border-button.tiny { border-top-width: 1.4vh; border-bottom-width: 1.4vh; }
.border-button.small { border-top-width: 1.2vh; border-bottom-width: 1.2vh; }
.border-button.medium { border-top-width: 0.95vh; border-bottom-width: 0.95vh; }
.border-button.large { border-top-width: 0.7vh; border-bottom-width: 0.7vh; }

.img-button {
    height: 100%;
    width: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: var(--shadow);
    margin: 0 0.2rem;
    background-position: 50%;
    cursor: pointer;
    transition: opacity 0.3s;
}
.img-button.disabled {
    opacity: 0.7;
    cursor: default;
}
.img-button.undo {
    background-image: url('img/undo.png');
}
.img-button.redo {
    background-image: url('img/undo.png');
    transform: scaleX(-1);
}
.img-button.clear {
    background-image: url('img/clear.png');
}

@media (min-width : 600px) {
    .border-button {
        width: 6.3vh;
    }
    .img-button {
        width: 6.3vh;
        margin-top: 0.4vh;
    }
}

.canvas-container {
    background-color: white;
    border-radius: 12px;
    box-shadow: var(--shadow);
    margin-bottom: 0.6rem;
    transition: 0.5s background-color ease-out;
}

.submit-button {
    padding: 0.5rem 1rem;
    background-color: white;
    border: none;
    border-radius: 10rem;
    margin-bottom: 0.6rem;
    box-shadow: var(--shadow);
}

.submit-message {
}