:root {
    --color-angle: -45deg;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: pink;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.fill-container {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}

.paint-text {
    font-family: 'Luckiest Guy';
    font-weight: bold;
    background: linear-gradient(var(--color-angle),
        red, red 14.28%,
        orange 14.28%, orange 28.57%,
        yellow 28.57%, yellow 42.86%,
        #00e20b 42.86%, #00d100 57.14%,
        cyan 57.14%, cyan 71.42%,
        #0037ff 71.42%, #0037ff 85.71%,
        violet 85.71%
    );
    background-size: 9% 43%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.callout {
    padding: 0.8vh 1rem;
    background: beige;
    box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
}
.callout .title {
    font-size: 4vw;
    letter-spacing: -0.15vw;
    -webkit-text-stroke: 0.18vw black;
}
@media (min-width: 1200px) {
    .callout .title {
        font-size: 2.5vw;
        -webkit-text-stroke-width: 0.12vw;
        letter-spacing: -0.1vw;
    }
}
.callout .title span {
    display: inline-block;
    background-size: 170% 170%;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background: rgba(0, 0, 0, 0.25);
    transition: 0.4s opacity;
    pointer-events: none;
}
.overlay:target {
    opacity: 1;
    pointer-events: all;
}
.overlay:target ~ .callout {
    display: none;
}

.overlay-close {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.overlay-content {
    width: 80%;
    height: 80%;
    background-color: rgb(255, 187, 187);
    z-index: 10;

    font-family: 'Luckiest Guy';
    font-size: 1.5rem;
    padding: 2rem;
}