html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: pink;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.fill-container {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}

.layer {
    position: absolute;
}